<%= form_for(@grupo) do |f| %>
  <% if @grupo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@grupo.errors.count, "error") %> prohibited this grupo from being saved:</h2>

      <ul>
      <% @grupo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
     <%= f.label :nome %><br>
     <%= f.text_field :nome %>
  </div>
  <h2>Emails</h2>

  <%= f.nested_fields_for :grupo_emails do |t| %>
    <div class="grupo_emails_fields">
      <div class="field">
         <%= t.remove_nested_fields_link %><br>
         <%= t.label :email %><br>
         <%= t.text_field :email %>
         <%#= room_category.check_box :_destroy %>
         <%#= room_category.label :_destroy, 'remove' %>
      </div>
   </div>
 <% end %>
  <div class="actions">
    <%= f.add_nested_fields_link :grupo_emails %><br><br>
    <%= f.submit %>
  </div>
<% end %>