<p id="notice"><%= notice %></p>
<p>
<strong>Nome:</strong>
 <%= @grupo.nome %>
</p>

<h2>Contatos</h2>

<% if @grupo.contatos.any? %>

    <ul>
         <% @grupo.contatos.each do |t| %>
                <li>
                    <%= t.email %>
                </li>
         <% end %>
    </ul>

<% else %>
    <p>none available</p>
<% end %>

<%= link_to 'Edit', edit_grupo_path(@grupo) %> |
<%= link_to 'Back', grupos_path %>
